<div class="navbar navbar-expand-lg navbar-dark bg-primary navbar-transparent">
    <div class="container">
        <a href="./" class="navbar-brand">Django Tutorial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./help/">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'miteshmap_blog:blog-list' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a
                    class="nav-link"
                    href="https://drive.google.com/file/d/1MQWvOLRbPVPBt8zaLoX-so38VZy-jPog/view"
                    target="_blank">
                        Resume
                    </a>
                </li>
                <li class="nav-item">
                    {% comment %} <a class="nav-link" href="{% url 'blog/about' %}">About</a> {% endcomment %}
                </li>
            </ul>
        </div>
    </div>
</div>