{% extends 'page.html' %}
{% block pagecontent%}
  <h1>Blogs</h1>
  {% if blog_list %}
  <ul>
    {% for blog in blog_list %}
      <li>
        <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a> ({{blog.author}})
      </li>
    {% endfor %}
  </ul>
  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
          <li>
              <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
          </li>
      {% endif %}
          <li class="">
              <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          </li>
      {% if page_obj.has_next %}
          <li>
              <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
          </li>
      {% endif %}
    </ul>
  {% endif %}
  {% else %}
    <p>There are no blogs in the library.</p>
  {% endif %}
{% endblock %}